/*/node_modules
node_modules
.yarn/
/dist/assets/index-ACCtF89D.js
/dist/assets/index-Cq4ouA-D.css
/dist/favicon.ico
/dist/index.html
/.idea/inspectionProfiles/Project_Default.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/vite-template.iml
